* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  padding: 10rem 0;
}

.card-template {
  height: 50rem;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.18);
}

.card-template img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -webkit-transition: ease-in-out 3s;
  transition: ease-in-out 3s;
  top: 0;
}

.card-template:hover img {
  -webkit-transform: translateY(calc(-100% + 50rem));
          transform: translateY(calc(-100% + 50rem));
}
/*# sourceMappingURL=style.css.map */