.container{
    padding: 10rem 0;
}

.card-template{
    height: 50rem;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.18);

    & img{
        width: 100%;
        object-fit: cover;
        position: relative;
        transition: ease-in-out 3s;
        top: 0;
    }

    &:hover img{
        transform: translateY(calc(-100% + 50rem));
    }
}